// Variables
// --------------------------------------------------

// Genweb colors
// -------------------------
$genwebPrimary:         #007bc0 !default;
$genwebTitles:          #557C95 !default;


// Accent colors
// -------------------------
$blue:                  #007bc0 !default;
$blueDark:              #005ea0 !default;
$cyan:									#30a2c3 !default;
$green:                 #72a31d !default;
$red:                   #a62e1f !default;
$yellow:                #bb900d !default;
$orange:                #f89406 !default;
$pink:                  #c6218b !default;
$purple:                #8952ab !default;


// ESTATS
// -------------------------
.state-published {color: $blue;}
.state-intranet {color: $purple;}
.state-pending {color: darken($orange,5%);}
.state-draft, .state-visible {color: $green;}
.state-private {color: $red;}
.state-restricted-to-managers {color: $grayDarker;}


// USUARI
// -------------------------
#portal-personaltools-wrapper {margin-top:36px !important;} // rebaixa de 38 a 36 per tal que no quedi marge quan estem identificats
.user {@include opacity(.8); width:26px; height:26px; border:.1em solid darken(adjust-hue($blue, -120),5%); margin: -.55em 0; position: relative;
  image-rendering: optimizeQuality; -ms-interpolation-mode: bicubic; left:-6px; top:-1px;}
.dropdown-menu li > a.btn-danger:hover, .dropdown-menu .active > a.btn-danger:hover {background-color: #BD362F;}
.userScreen, .userTablet, .userMobile, .userGenweb {background: image-url("sprite_usuari.png") transparent no-repeat center top; height: 1.5em; width:1.5em;}
.userScreen {background-position: center -40px;}
.userTablet {background-position: center -140px;}
.userMobile {background-position: center -240px;}
.userGenweb {background-position: 10px -340px; width:2em;}
.userScreen:hover {background-position: center 10px;}
.userTablet:hover {background-position: center -90px;}
.userMobile:hover {background-position: center -190px;}
.userGenweb:hover, .open .userGenweb {background-position: 10px -290px;}
	.dropdown .userGenweb .caret { margin-left: 24px;}
#portal-personaltools-wrapper .container {box-shadow: 0 -8px 5px 5px rgba(255, 255, 255, 0.05);}
#portal-personaltools-wrapper .nav {margin:0!important;}
#portal-personaltools-wrapper .nav .img_blank {@include opacity(.7);}
#portal-personaltools-wrapper .nav a:hover .img_blank {@include opacity(1);}
.btn-menu-adjust a {margin:3px 15px !important; color:$white;}
// Hover state
// -----------
.dropdown-menu li.btn-menu-adjust > a:hover,
.dropdown-menu li.btn-menu-adjust > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
  color: $dropdownLinkColorHover;
  background-color: $btnDangerBackground;
  @include gradient-vertical($btnDangerBackground, darken($btnDangerBackground, 5%));
}
.btn-menu-adjust  {text-align:center;}
/*ajusta imatges icos en menús per a hovers */
.dropdown-menu a:hover [class^="icon-"], .dropdown-menu a:hover [class*=" icon-"] {
background-image: image-url("gh-w.png") !important;
}


// PORTAL HEADER
// -------------------------
#portal-header {
	border-bottom:1px solid #d7d5d2;
	border-top:5px solid desaturate(lighten($genwebPrimary,40%), 85%);
		background: #fcfcfc; /* Old browsers */
		background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 25%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(25%,#ffffff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 25%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 25%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 25%); /* IE10+ */
		background: linear-gradient(to bottom,  #f7f7f7 0%,#ffffff 25%); /* W3C */
}
	#portal-header .container {border-top:5px solid $genwebPrimary; margin-top:-5px; }
	#portal-header h1.pull-left {margin-bottom:0;}

.titol-espai {margin-top:0;
	& h1 {font-weight:normal; margin:0;}
	& a {color:#333; text-shadow: 0 1px 1px rgba(0,0,0,.1); display:table !important; min-height:49px; width:100%;
		& span {display:table-cell; vertical-align:middle; padding:5px 0;}
		&:hover {color:$blue; text-decoration:none;}
	}
}
.logoPropi {height:49px;display:table-cell; vertical-align:middle;min-width: 49px; padding:5px 0;}

#eines, #eines-mov {
	margin:15px 0 0 0;
	& > li:not(:first-child) > a:before {
  		content: '·';
  		margin-right: 3px;
	}

	& > li > a {
	  	border-radius: 4px;
	  	margin-top: 0px;
	  	padding-bottom: 7px;
	  	padding-top: 6px;
	  	padding-left: 0px;
		padding-right: 2px;
	}
	& .input-append {
	  	border-left: 1px dotted $tableBorder;
	  	margin-left: 2px;
	 	padding-left: 5px;
	}
	& .adjust-langs {min-width:87px !important;}
}

#eines input.cercaupc, #eines-mov input.cercaupc {
  width: 124px !important;
  @include transition(all 0.5s ease-in-out !important);
}

#eines input.cercaupc:focus, #eines-mov input.cercaupc:focus {
  width: 200px !important;
  @include transition(all 0.5s in-out !important);
}

// IMATGE DE CAPCALERA
// -------------------------
.header-image {
	background-image: url("../capcalera.jpg");
	@include border-radius(5px 5px 0 0);
	@include box-shadow(0 -1px 5px rgba(0,0,0,.15));
 	background-repeat: no-repeat;
 	width: 100%;
 	height: 0px;
 	padding-top: 6.63%;
}

// L3 i L2

.l2-image, .l3-image {
	overflow: invisible;
}
.l3-image {
	margin-bottom: -1px;
}

/* NO-IMG */
.no-image .header-image { display:none !important;}
/* ajusta menú L3*/
#portal-header.no-image .container {padding-bottom:20px;}
#portal-header.no-image + #portal-globalnav .navbar-inner {margin-top:-20px;}
#portal-header:not(.no-image) + #portal-globalnav .navbar-inner {@include border-radius(0 0 4px 4px !important); margin-top:-1px;}


// CENTRE
// -------------------------
#content-area {padding-bottom:2em; margin-top:1.5em;}

#edit-bar {
	border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 -10px 12px -18px black inset;
    margin-bottom:18px;
    & .nav-tabs {
    	border-bottom:0;
    	box-shadow:none;
    	margin:0;
    }
    & .nav-pills {margin:0;}
    & .dropdown-toggle .label,
    & .dropdown-toggle .badge {
    	font-size:100%;
    }
}


// BANDA LOGOS
// -------------------------
#bandaLogos {border-top:1px solid desaturate(lighten($genwebPrimary,40%), 85%); box-shadow: 0 -10px 20px rgba(0, 0, 0, .03);
	& .container {border-top:1px solid darken($genwebPrimary,25%); margin-top:-1px;}
}
.llistatLogos {margin:0 auto; list-style:none; text-align:right; padding-top: 1em; // canvis, alineat a dreta i menys separació entre logos
	& li {display:inline-block; margin:0 0 1em;}
	& a {margin:0 1.5em; display: block;}
	& img {max-height: 100px;}
}


// PEU
// -------------------------
#peu {background:#f2f2f2; border-top:5px solid desaturate(lighten($genwebPrimary,40%), 85%); font-size:92.3076923%;
	& .container {border-top:5px solid $genwebPrimary; margin-top:-5px;}
    & p {margin:6px 0 0;}
	& .amunt img {@include opacity(.7);}
	& .amunt a:hover img {@include opacity(1);}
	& address {color: $gray;
		& p {margin: 0;}
	}
}

.sobreElWeb li {display: inline-block; line-height: 0;}
	.sobreElWeb li:before {
		content:"."; font-size:52px; position: relative; line-height:0; top:-.01em; left:-1px;
		color: desaturate($genwebPrimary, 80%);
	}
	.sobreElWeb li:first-child:before {content:""; font-size:52px; position: relative; line-height:0; top:.25em;}
	.sobreElWeb li:last-child:before {content:" __ "; font-size:13px; position: relative; line-height:0; top:-.35em; padding:0 2px 0 3px;}
	#peu .amunt {position:relative; top:3px;}
	#peu .amunt div.tooltip {margin-top: -21px !important; margin-left:6px !important;}


// VISTA ESCRIPTORI
// -------------------------
#canvia-vista {
	padding:0;
	margin-left:-10px;
	margin-right:-10px;
  	display:block;
  	& p {margin:0 !important;}
	& a {
		background:image-url("vistabg.png") #666;
   		text-align: center;
   		@include box-shadow(inset 0 10px 10px -5px rgba(0,0,0,.5));
		padding:10px;
  		color: $white;
		height:auto;
		width:auto;
		display:block;
		background-position: left 3px;
	}
}
.review {display:none;}
