// EXTENSIO CLASSES DE SISTEMA DE PLONE
// -------------------------
//


//taules de SISTEMA
.listing {
	@extend .table;
	@extend .table-condensed;
	@extend .table-striped;
	@extend .table-hover;
	@extend .table-bordered;
}



// EXTENSIO FROMS
// ----------------------
label {
  font-weight:bold;
  color: $genwebTitles;
}
.formHelp {
  @extend  .s;
  @extend .muted;
  display:block;
  font-weight:normal;
}
.discreet {
	@extend .muted;
}
.visualClear {
	@extend .clearfix;
}
// botons

.standalone, input[value^="Cancel"], [type="submit"] {
  @extend .btn;
}

.context {
  @extend .btn;
  @extend .btn-primary;
}

//formularis
.selected {
	@extend .active;
}
.fieldRequired {font-size: 0;}
.fieldRequired:after {font-size: 20px !important;}
.fieldRequired,
.required {
	&:after {
		color: $red;
		content: "*";
		top:.35em;
		position: relative;
		font-size:150%;
		line-height: 0;
	}
}
// No * on file required fields
.namedblobfile-field.required:after { content: ""; }
.namedblobimage-field.required:after { content: ""; }

.selected.required:after {color:$white;}
.field {
	margin-bottom: $baseLineHeight;
	& input[type="radio"],
	input[type="checkbox"] {
		margin:0 0 3px;
	}
}

#archetypes-fieldname-title {
	& label {
		@extend .xxxl;
	}
	& input {
		@extend .xxxl;
		@extend .input-xxlarge;
		height:27px;
	}
	& .required:after {


	}
}

.formControls, #actionsView {
	padding-top: 25px;
	//@include box-shadow(0 -15px 15px -15px rgba(0,0,0,.25));
}

.searchButton {@extend .btn;}

#search-term {
    color: #666666;
    &:before{content:"\" "}
    &:after{content:" \""}
}

div.label, label *.label {
	background:$white;
	text-shadow:none;
	font-size: 100%;
	color: $genwebTitles;
	white-space: normal;
}
input#title {font-weight:bold}

.template-personal-information [for="form.portrait"] ~ img {
	float:right;
    margin-bottom: 5px;
	@extend .img-polaroid;
}

// MENUS INTERNS
.contentViews {
	@extend .nav;
	@extend .nav-tabs;
	& .selected, .selected:hover {
		@extend .active;
	}
}
#portlet-prefs {
	border:0;
	.portletHeader {
		display:none;
	}
	& dd {
		margin:0;
	}
}
.configlets {
	@extend .nav;
	@extend .nav-tabs;
	@extend .nav-stacked;
	& img {float:right;}
}
.contentActions {line-height: 0} //per si plone es deixa un espai



// PORTAL MESSAGE
// -----------------------
.portalMessage {
	@extend .alert;
	&.info {@extend .alert-info;}
	//&.warning  {@extend .alert-warning;}
	&.error {@extend .alert-error;}
	& dt, & dd {margin:0; display:inline;}
}

// PAGINATION
// -----------------------
.listingBar {@extend .pagination;}
.listingBar li:only-child{ display:none !important;}

// CONTACTE
// -----------------------
.img-mask {
	clear:both;
	display: block;
	@include box-shadow(0 2px 5px rgba(0,0,0,.25));
	margin-top: 6px;
	width:100%;
	height:100%;
	min-height:100%;
	iframe {
		height:250px; // alçada mapa contacte
		width:100%;
	}
}



iframe {
	border:0 !important;
	display: block !important;
}


/* regles afegides per maquetar contacte segons proposta oriol */
#formfield-form-widgets-nombre  {
  float:left;
  width:46%;/**/
}
#form-widgets-nombre{width:100% !important;}

#formfield-form-widgets-from_address {
  float:right;
  margin-right: 3%;
  width:46% ;
}
#form-widgets-from_address {width:100% !important;}

#formfield-form-widgets-asunto {
  clear:both;
  width:100%;
}

#form-widgets-asunto{
  width:97% !important;
}

#formfield-form-widgets-mensaje { width:100%;}

.kssattr-formname-contac input { // ajusta amplada camps formulari contacte
  resize:vertical;
  height: auto;
  max-width:100%;
  min-width:210px;
  min-height: 30px;
  width: 100%;
  @include box-sizing(border-box);
}

#form-buttons-send {
  width:65px !important;
  min-width:65px !important;
}

#contacte-dades {
  width:48%;
  float: left;
  display: inline;
}
#contacte-links {
  margin-left:2%;
  width:48%;
  float: left;
  display: inline;
  text-align:right;
}

/* FI regles afegides per maquetar contacte segons proposta oriol  */

// SITEMAP
// -----------------------
#portal-sitemap {
	@extend .unstyled;
	& > li {
		font-weight: bold;
		font-size:normal;
		margin-top:30px;
		@extend .xxxl;
		& > div {
			padding-bottom:10px;
			border-bottom:1px solid $tableBorder;
		}
		& a {
			color: $blue;
			&:after{
				content:" ";
				position:relative;
				width:14px;
				height:14px;
				display:inline-block;
				background:image-url("gh.png") -239px -143px no-repeat;
				margin-left:5px;
			}
		}
	}
	& ul {
		@include content-columns(3, 2em);
		-webkit-column-fill: auto;
		-moz-column-fill: auto;
		column-fill: auto;
		margin:0;
		& > li {
			@extend .xxs;
			font-weight: bold;
			font-size:normal;
			list-style: none;
			margin:0 0 5px;
			padding:5px 0;
			-webkit-column-break-inside: avoid;
			-moz-column-break-inside: avoid;
			column-break-inside: avoid;
			& > div {
				padding-bottom:0;
				padding-top:5px;
			}
			& a {
				color: darken($blue,15%);
				&:after {
					content:none;
				}
			}
		}
		& ul {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
		& > li li {
			padding:5px 9px;
			line-height:12px;
			font-weight: normal;
			font-size:smaller;


			& > div {
				padding-top:0;
			}
			& a {
				color: $gray;
			}
		}
	}
}
// configuració  de lloc. detallets
#recordsTable {table-layout: fixed;
	td {word-break: break-all;}
}

// Dashboard
#dashboard {@extend .row-fluid;}
#dashboard-portlets1, #dashboard-portlets2, #dashboard-portlets3, #dashboard-portlets4 {@extend .span3; float:left; margin-bottom: $baseLineHeight;}
#dashboard-portlets1, #dashboard-portlets2, #dashboard-portlets3 {margin-right: 30px;}

// plone_jscalendar
.plone_jscalendar {
	.dk_container {display: inline-block;}
  .dk_toggle {width:100px !important;}
	.dk_options {min-width:128px !important; width:128px !important;}
}

// calenendar-system.css
/* The main calendar widget.  DIV containing a table. */

.calendar {
	display: none; margin:0 auto; position:fixed !important; width:100% !important; height:100% !important; margin-top: 50%;
	table {
		background: #f2f2f2; border-radius:5px; width:222px; box-shadow: 0 0 100px black; top:50%; margin-top:-100px !important; margin: 0 auto;
		.wn { border-right: 1px solid #b2b2b2; background: #f7f7f7;}
	}
	.button { text-align: center; background: #f2f2f2;}
	.nav { background: #f2f2f2 url(menuarrow.gif) no-repeat 100% 100%;}
	thead {
		.title { font-weight: bold; text-align: center;}
		.name { border-bottom: 1px solid #b2b2b2; border-top: 1px solid #b2b2b2; text-align: center; background: #f7f7f7;}
		.weekend { color: #c00;}
		.hilite { background: #cef;}
		.active { box-shadow: inset 0 0 3px #08c;}
	}
	tbody {
		background: #fff;
		.day {width: 2em; text-align: center; padding: 2px 0px;}
		.day.othermonth {font-size: 80%; color: #aaa;}
		.day.othermonth.oweekend { color: #faa;}
		.rowhilite td { background: #cef;}
		td.hilite { background: #08c; color: white;}
		td.active { box-shadow: inset 0 0 3px #08c;}
		td.selected { font-weight: bold; background: #08c; color: white;}
		td.weekend { color: #c00;}
		td.today { font-weight: bold; color: white; border-radius: 3px;}
		td.disabled { color: gray; }
		.emptycell { }
		.emptyrow { display: none; }
	}
	tfoot {
		.ttip { background: #f7f7f7; border-top: 1px solid #b2b2b2; text-align: center;}
		.hilite { background-color: #cef !important;}
		.active { background-color: #08c !important;}
	}
	.combo {
	  position: absolute;
	  display: none;
	  width: 4em;
	  top: 0px;
	  left: 0px;
	  cursor: default;
	  border: 1px solid;
	  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	  background: Menu;
	  color: MenuText;
	  font-size: 90%;
	  padding: 1px;
	  z-index: 100;
		.label,
		.label-IEfix {
		  text-align: center;
		  display: block;
		  padding: 1px;
		}
		.label-IEfix {
		  width: 4em;
		}
		.active {
		  padding: 0px;
		  border: 1px solid #000;
		}
		.hilite {
		  background: Highlight;
		  color: HighlightText;
		}
	}

	td.time {
	  border-top: 1px solid ButtonShadow;
	  padding: 1px 0px;
	  text-align: center;
	  background-color: ButtonFace;
		.hour,
		.minute,
		.ampm {
		  padding: 0px 3px 0px 4px;
		  border: 1px solid #889;
		  font-weight: bold;
		  background-color: Menu;
		}

		.ampm {
		  text-align: center;
		}

		.colon {
		  padding: 0px 2px 0px 3px;
		  font-weight: bold;
		}

		span.hilite {
		  border-color: #000;
		  background-color: Highlight;
		  color: HighlightText;
		}

		span.active {
		  border-color: #f00;
		  background-color: #000;
		  color: #080;
		}
	}
}

//manage-home-portlets
.template-manage-homeportlets .portletHeader strong {display: inline-block;padding: 2px 0 0 4px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 34%;}
.template-manage-homeportlets .portletHeader:hover {@extend .box-inverse;
	strong {color: $white;}
	a {color: $cyan;}
}
.template-manage-homeportlets .portletHeader strong:hover {overflow: visible;width: 100%; padding-bottom:1px !important;}
.template-manage-homeportlets .portletHeader strong:hover + span {display:none;}

//spinner
img[src$="spinner.gif"] {box-shadow: 0 0 350px 125px white;}


//comments
.discussion {
	& .commentImage {
		position:absolute;
			& img {width:50px; @include border-radius(4px);}
		}
	& .replyTreeLevel0 {margin-top:2em;}
	& .documentByLine {
		@extend .muted;
		& a {font-weight: bold;}
	}
	& .commentDate {float:right; @extend .muted; @extend .s;}
	& .commentBody {color: $grayDark;}
	& .commentActions {float:right;
		& .destructive {@extend .btn-mini;}
	}
	& .comment {border-left: 1px solid $tableBorder;padding-left: 1em; margin-bottom:.5em;min-height: 50px;}
	& .comment.replyTreeLevel0 {padding-left:0; border-left:0;}
	& .reply-to-comment-button {@extend .btn-mini; display: block;}
	& .documentByLine, .commentBody, .reply-to-comment-button {margin-left:60px;}
	& .reply {margin-top: 20px;}
}

//collage
.collage-row {
	border-bottom: 1px solid $tableBorder;
	&:first-child {border-top: 1px solid $tableBorder; }
}

.collage-header {
	background: #fea;
	border-bottom: 1px solid White;
	padding: 2px 0 2px 0!important;
	position: relative;
	margin-bottom: 2px !important;
	p.discreet {
	/*font-size: 0.9em;*/
	}
	span.icon img {
		padding: 2px;
	}
	span.icon img.alias {
		padding: 0px;
		border: 2px solid White;
	}
	span {
		color: $blue;
		text-transform: lowercase;
	}
}

.collage-image {
width: 100%;
}
.collage-featured-image {
float: right;
}
.featured-document {
background: #f3f3f3;
padding: 10px;
}
.collage-listitem {
margin-bottom: 1em;
}
.collage-item {
	.documentActions {
		display: none;
	}
	div.clickable a {
		text-decoration: none;
		border: none;
		padding: 0 !important;
		background: transparent !important;
	}
}

.collage-existing-items {
	.breadcrumbs {
		background: url("logoIcon.gif") no-repeat left center;
		padding-top: 4px;
		padding-bottom: 4px;
		margin-bottom: 8px;
		padding-left: 20px;
		border-bottom: 1px solid White;
	}
	label {
		display: none;
	}
}

.collage-header {
	a {
		cursor: pointer;
		&.action,	&.layout,	&.create {
			text-transform: lowercase;
			margin-right: 0.2em;
			text-decoration: none;
		}
		&.delete-confirm {
			color: red;
		}
		&.action span.inactive,
		&.layout span.inactive {
			text-decoration: underline;
		}
		&.layout span.active {
			color: Black;
		}
	}
}

@mixin object-icon() {
	float: left;
	width: 14px;
	height: 14px;
	padding-right: 2px;
}

.delete-object-icon {
	@include object-icon();
	background: url("/++resource++collage-resources/icon-delete.gif") no-repeat top left;
}
.copy-object-icon {
	@include object-icon();
	background: url("/++resource++collage-resources/icon-copy.gif") no-repeat top left;
}
.paste-object-icon {
	@include object-icon();
	background: url("/++resource++collage-resources/icon-paste.gif") no-repeat top left;
}
.split-column-icon {
	@include object-icon();
	background: url("/++resource++collage-resources/icon-split.gif") no-repeat top left;
}
.object-action-generic-icon {
	@include object-icon();
	background: url("/++resource++collage-resources/icon-object-action.gif") no-repeat top left;
}

.expandable-section .expandable-label .expandable-icon {
	background: url("/++resource++collage-resources/icon-plusminus.gif") no-repeat top left;
	@include object-icon();
	margin-left: 3px;
}

.expandable-section .expandable-label.enabled .expandable-icon {
background-position: -20px 0%;
}
.expandable-section .expandable-label {
float: left;
position: relative;
}
.expandable-content {
	display: none;
	top:35px;
}

ul.collage-content-menu {
	display: block;
	list-style-image: none !important;
	list-style-type: none !important;
	margin-left: 0 !important;
	@extend .list-divided;
	&.collage-content-menu li {
		display: block;
		a { border: none;	}
	}
}


div.insert-existing-items h4 { 	line-height: 16px; }

input#insert-collage-row { margin-top: 1em; }

span.collage-navigation img {
	width: 9px;
	height: 9px;
}
span.collage-navigation {
	margin-left: 4px;
	&.collage-navigation a {
		text-decoration: none;
	}
}

.display-collagerow_default_view 		{ background-image: url(icon-collagerow_default_view.gif) !important; 		}
.display-collagerow_largeleft_view  { background-image: url(icon-collagerow_largeleft_view.gif) !important; 	}
.display-collagerow_largeright_view {	background-image: url(icon-collagerow_largeright_view.gif) !important;	}
.display-collagecolumn_default_view { background-image: url(icon-collagecolumn_default_view.gif) !important; 	}

.icons-on .collage-content-menu .contenttype-file {
	background: no-repeat transparent 0px -433px url(contenttypes-sprite.png);
	padding-left: 20px !important;
}

.icons-on .collage-content-menu .contenttype-image {
	background: no-repeat transparent 0px -865px url(contenttypes-sprite.png);
	padding-left: 20px !important;
}

.collage-quickedit { float: right; }

#collage {
	.collage-row {
		min-height:100%;
		margin-left:auto;
		margin-right:auto;
		text-align:left;
		position:relative;
		width: 100%;
		clear: both;
	}
	div.collage-first-object,
	div.collage-first-object div.collage-item {
		margin-left: 0;
	}
	div.collage-last-object,
	div.collage-last-object div.collage-item {
		margin-right: 0;
	}
}


* html #collage .collage-row {
	width:100%;
	height:100%;
}

#collage .block_1,
#collage .block_2,
#collage .block_3,
#collage .block_4,
#collage .block_5 {
	float: left;
}

.collage-item { margin-bottom: 0.5em; }

#collage .one-column .block_1 { width: 100%; }

#collage .two-columns-equal .block_1 { width:49.49%; }
#collage .two-columns-equal .block_2 { width:49.49%; }
#collage .three-columns-equal .block_1,
#collage .three-columns-equal .block_2,
#collage .three-columns-equal .block_3 {
	width:32.5%;
}
#collage .three-columns-equal .block_2 { width:32.9%; }
#collage .four-columns-equal .block_1,
#collage .four-columns-equal .block_2,
#collage .four-columns-equal .block_3,
#collage .four-columns-equal .block_4 {
	width: 24.2%;
}
#collage .four-columns-equal .block_2 { width: 24.4%; }
#collage .five-columns-equal .block_1,
#collage .five-columns-equal .block_2,
#collage .five-columns-equal .block_3,
#collage .five-columns-equal .block_4,
#collage .five-columns-equal .block_5 {
	width: 19.2%;
}
#collage .five-columns-equal .block_2 { width: 19.2%; }
#collage .block_2,
#collage .block_4,
#collage .block_3,
#collage .block_4,
#collage .block_5,
#collage .block_6 { padding-left: 1%; }
#collage .two-columns-largeleft .block_1 { width: 59%; }
#collage .two-columns-largeleft .block_2 { width: 40%; }
#collage .three-columns-largeleft .block_1 { width:59%; }
#collage .three-columns-largeleft .block_2 { width:19%; }
#collage .three-columns-largeleft .block_3 { width: 20%; }
#collage .four-columns-largeleft .block_1 { width: 40%; }
#collage .four-columns-largeleft .block_2,
#collage .four-columns-largeleft .block_3,
#collage .four-columns-largeleft .block_4 {
	width: 19%;
}
#collage .five-columns-largeleft .block_1 { width: 24%; }
#collage .five-columns-largeleft .block_2,
#collage .five-columns-largeleft .block_3,
#collage .five-columns-largeleft .block_4,
#collage .five-columns-largeleft .block_5 {
	width: 18%;
}
#collage .two-columns-largeright .block_2 { width: 59%; }
#collage .two-columns-largeright .block_1 { width: 40%; }
#collage .three-columns-largeright .block_3 { width:59%; }
#collage .three-columns-largeright .block_1 { width: 20%; }
#collage .three-columns-largeright .block_2 { width:19%; }
#collage .four-columns-largeright .block_1,
#collage .four-columns-largeright .block_2,
#collage .four-columns-largeright .block_3 {
	width: 19%;
}
#collage .four-columns-largeright .block_4 { width: 40%; }
#collage .five-columns-largeright .block_1,
#collage .five-columns-largeright .block_2,
#collage .five-columns-largeright .block_3,
#collage .five-columns-largeright .block_4 { width: 18%; }
#collage .five-columns-largeright .block_5 { width: 24%; }

#collage .collage-item .documentByLine,
#collage .collage-item .link-parent{
	display: none;
}
/* */
#collage .unbatched-with-1 .column-block { width: 100%; }
#collage .unbatched-with-2 .column-block { width: 49.5%; }
#collage .unbatched-with-3 .column-block { width: 32.5%; }
#collage .unbatched-with-4 .column-block { width: 24.25%; }
#collage .unbatched-with-5 .column-block { width: 19%; }
#collage .unbatched-with-6 .column-block { width: 16.5%; }
/* */

#collage .collage-portlet-notification dt.portletHeader {
	background-color: #ffffe3;
}
#collage .collage-portlet-help dt.portletHeader {
	background-color: #ffffe1;
}
#collage .collage-layout-error {
	background-color: yellow;
	font-weight: bold;
}


.collage-header > * {margin-right:5px; display: inline-block; vertical-align: middle;}

.expandable-content {
	@extend .popover;
	h4 {@extend .popover-title;}
	.inner-content {@extend .popover-content;}
}

.collage-header > .expandable-section,
.collage-header > .post {margin-bottom: 2px;}
.expandable-icon, .split-column-icon, .delete-object-icon, .copy-object-icon,
.object-action-generic-icon {margin-top: 2px;}

.collage-header .expandable-content {width:306px !important;}
.column-block > .collage-header {background-color: #efa;}
.collage-item > .collage-header {background-color: #afe;}

.collage-header .visualIcon img {display: none;}


// FORMULARI
.pfg-drafts-float {position:relative !important; width: auto !important;}
button.pfg-draft-save {@extend .btn; @extend .btn-success;}
.standalone + .pfg-draft {display: inline-block;}

// NOTICIA
.newsImageContainer {@extend .pull-right; @extend .img-polaroid; margin:0 0 1em 1em;}

// VISTA MINIATURES
html.lt-ie9 .thumbnails li:first-child+li+li+li+li,
html.lt-ie9 .thumbnails li:first-child+li+li+li+li +li+li+li+li,
html.lt-ie9 .thumbnails li:first-child+li+li+li+li +li+li+li+li +li+li+li+li
html.lt-ie9 .thumbnails li:first-child+li+li+li+li +li+li+li+li +li+li+li+li +li+li+li+li,
html.lt-ie9 .thumbnails li:first-child+li+li+li+li +li+li+li+li +li+li+li+li +li+li+li+li +li+li+li+li,
.thumbnails li:nth-child(4n+1) {margin-left:0 !important;}


// VIEWS
body.template-folder_summary_view #content ul li:first-child {border-top:0; @include box-shadow(none);}


// treu la línia decorativa del primer element de la llista en la vista de carpeta "Tot el contingut"
// desactivat per què afecta a altres continguts
//#content-core div h2{
//    border-top: 0 none;
//    box-shadow: none;
//}


// custom file posat aqui per evitar comptar com a selector en l'altre paquet

.customfile-hover .customfile-button, .customfile-focus .customfile-button {@extend .btn:hover;}

// Fix Plone overlays
div.overlay {
    /* initially overlay is hidden */
    display: none;
}


// ESDEVENIMENT

div[id*='formfield-form-widgets-IEventBasic-'] select { width:auto; } // ajusta amplada select

// visualitzacio event a la dreta 

dl.event.summary.details {
    border-top: 2px solid $grayLight;
    border-right: 1px solid $grayLight;
    border-bottom: 1px solid $grayLight;
    border-left: 1px solid $grayLight;
    box-shadow: 0 0 5px $grayLight; // a gw3 era #eee pero no es veu 
    color: #666;
    display: table;
    float: right;
    margin-left:1%;
    max-width: 300px;
    width: 300px; 
    text-align: left;
    dt, dt+dd { // vora ratllada
        border-top: 1px dashed $grayLighter;
        padding: 5px;
        &:first-of-type { 
            border-top: 0px !important; // el primer NO te vora ratllada, si un dd no ve despres d'un dt tampoc
        }
    }

    dd {
        padding: 5px;
        margin: 0 0 0 50%;
        &+dd { // padding extra per dd sense dt
            padding-left: 10px;
        }
    }
    dt {
        float:left;
        clear:left;
        width: 50%;
    }
}

ul.hCalendar-hidden {
    display: none;
} 





// POLL - ENQUESTA

.tasksplease span { padding-right: 10px; } // afegeix separació entre opcions

input[name='poll.submit'] { margin-top: 15px; } // afegeix separació botó enviament

// TINY

// IMATGES inserides per tiny

.image-left {
	float: left;
	margin: 0 10px 0 0;
}

.image-right {
	float: right;
	margin: 0 0 0 10px;
}

body.mceContentBody {
	br[data-mce-bogus="1"] { // amaga els br extra introduits per tiny
		display: none;
	}

	#myTab li.active a { // correccio per plantilla pestanyes
  		border-bottom:1px solid transparent !important;
	}
}

iframe#templatesrc { // amplada iframe previsualitzacio plantilles
	width: 100% !important;
}

// fi TINY


// captcha
#recaptcha_table {// visualitzem la taula captcha en blocks
	width: 334px;
td {
  display:block;
}
tr:nth-child(1){
  width:70%;
  td {
    &:nth-child(1){// imatge
      width:70%
    }
    &:nth-child(2){// botons
      width:30px;
      float:left;
      //border:1px solid red !important;
    }
    &:nth-child(3){// logo
      float:left;
    }
  }
}

tr:nth-child(2) {
  width:70%;
  td {
    width:50%;
  }
}

center {
  float:left;
}
} // fi #recaptcha_table


// COOKIES
#cookies {
  	border-bottom: 1px solid #dedede;
  	color: #666666;
  	margin: auto;
  	padding: 4px 0;
}

// SEO Properties
#contentview-SEOProperties {
	width: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: none;
	a {
		width: 26px;
  		overflow: hidden;
	}
	a[href*="/es/"] {
		direction: rtl;
	}
}


// FOLDER VIEWS

// standard 

.template-folder_listing #content {
	dl dt:before {
		content:".";
	    position: absolute;
	    font-size:52px;
	    margin-left:-20px;
	    margin-top:-15px;
	}
	dl {
	    padding: 0 0 0 28px;
	}
	dt {
		font-weight: normal !important;
		margin-top: 16px;
	}
	dd {
		margin-bottom: 10px;
		margin-left: 22px;
	}
}


// tabular 
.template-folder_tabular_view #content table.listing a {
  font-weight: normal !important;
}

// resum 
.template-folder_summary_view #content p.tileFooter {
  display:none;
}


// album 
.template-atct_album_view #content dt {
  font-weight: normal !important;
}



			

