// TOTS els portlets
// -------------------------
.portlet {
  @include box-shadow(0 1px 4px rgba(0,0,0,.1));
  @include border-radius(6px);
  margin-bottom:20px;
  border: 1px solid $tableBorder;
  & h2 {
    margin:0;
    font-size:107%;
    color:$gray;
    border-bottom: 5px solid $genwebPrimary;
    padding:10px 15px;
    line-height:18px;
    position:relative;
    & i {
      @include opacity(75);
      *position:absolute;
      *top:10px;
      *right:15px;
    }
  }
  & ul:last-child {
    border-bottom:0 !important;
  }
}
.list-portlet {
  margin: 0;
  padding:0 5px 0 15px;
  border-bottom: 1px solid $tableBorder;
  & li {
    border-top:1px solid lighten($tableBorder, 20%);
    *border-top:1px solid #e5e5e5;
    margin-left: 0 !important;
    padding: 8px 0 8px 1px !important;
    margin-right:10px;
    *display:inline-block;
    &:first-child {
      border-top:0;
    }
    & .smaller {
      color: $gray;
      white-space: nowrap;
    }
  }
}

.portlet-noticies.portlet-ampliat > div.row-fluid {
    border-bottom: 1px solid $tableBorder; // 2 columns layout
}

// treure bullets portlet esdeveniments i noticies
.list-portlet {
  list-style-type: none;
  li
   {
      padding-left: 0px !important;
      &:before {
      content: '' !important;

      }
    }
}

// fletxes portlet esdeveniments

.event-arrow {
  font-size: 16px;
}

// correcció per a vista noticies
.template-newscollection_view #content-core .list-portlet {
  padding-left: 0;
  padding-right: 0;
  & li {
    margin-right: 0;
  }
}

.portlet-footer {
  background: $grayLighter;
  display:block;
  padding: 5px 10px 7px;
  text-align: center;
  @include border-radius(0 0 6px 6px);
  border-top:1px solid $white;
  position:relative;
  font-size:92.3076923%;
  & span {
    @include opacity(.5);
    position:absolute;
    left:10px;
  }
}
/* les llistes s'extenen a l'arxiu de llistes*/

// BANERS
// -------------------------
.portlet-baners {
  @include box-shadow(none);
  border:0;
}
.portlet-baners li {
  padding: 0 0 1em;
  & a:hover img {
    @include box-shadow(0 0 5px rgba(0,123,192,.25));
    @include border-radius(2px);
  }
}

// NOTÍCIES AMPLIAT
.portlet-ampliat {
  & h3 {
    padding:0 15px;
    text-align:left;
    color: $gray;
  }
  & .content-noticies {
    padding: 0 15px;
    margin-bottom: 0;
    text-align:left;
  }
  & li > img {
    margin: 0 0 10px;
    @include box-shadow(0 10px 5px -10px rgba(0, 0, 0, 0.25));
  }
  & .list-portlet {
    margin:0 !important;
    padding:0 !important;
    &:before {
      content:none;
    }
    & li {
      border-color: $tableBorder;
      padding:0 0 12px 0 !important;
      margin: 0 !important;
      text-align:center;
      @include box-shadow(0 -5px 10px -5px rgba(0, 0, 0, 0.1));
      &:before {
        content:none;
      }
      &:first-child {
        @include box-shadow(none);
      }
    }
  }
}
/* adaptació imatge a protlet ample */
.span6 .portlet-ampliat li > img,
.span7 .portlet-ampliat li > img,
.span8 .portlet-ampliat li > img,
.span9 .portlet-ampliat li > img,
.span10 .portlet-ampliat li > img,
.span11 .portlet-ampliat li > img,
.span12 .portlet-ampliat li > img {
  margin: 0 10px 5px 15px;
  max-width:50%;
  float:left;
}

// AGENDA (ESDEVENIMENTS)
.portlet-esdeveniments ul {
  margin-bottom:0;
  border-bottom:1px solid $tableBorder;
  & li {
    position:relative;
    border-top:1px solid lighten($tableBorder, 20%);
    *border-top:1px solid #e5e5e5;
    margin:0 15px;
    padding: 9px 0;
    &:first-child {
      border-top:0;
    }
  }
  & a {
    display:block;
    padding-left:40px;
    border-left: 3px solid $grayLighter;
    min-height: 36px;
    &:hover {
      border-color: $blue;
    }
  }
  & time {
    position:absolute;
    left:7px;
    top:13px;
    font-size:153.846154%;
    color:$grayLight;
    font-weight:bold;
    & abbr {
      display:block;
      font-size: 53.8461538462%;
      font-weight: normal;
      text-align: center;
      color:$gray;
      margin-top:-3px;
    }
  }
}
//Multievent
.portlet-esdeveniments ul time {text-align:center;}
.portlet-esdeveniments .multidate-before {padding-left:60px;}
.portlet-esdeveniments .multidate time + time {margin-left:1.3em !important;}
.portlet-esdeveniments .multidate time + time:before {content:"-";font-size: 70%;margin-left: -2px;float: left; margin-top:-2px;}
.portlet-esdeveniments .multidate {font-size: 90%; }
.portlet-esdeveniments .multidate time abbr {font-size:48%;}

// ENQUESTA
.portlet-enquesta {
  & fieldset {
    margin: 0 15px;
  }
  & legend {
    font-size: 100%;
    line-height:18px;
    padding: 10px 0;
  }
  & form {
    margin:0 15px 15px;
  }
  .progress {
    position:relative;
    & span {
      color: black;
      font-size: 84.6153846%;
      right: 3px;
      position: absolute;
      text-shadow: 0 -1px rgba(255, 255, 255, 0.5);
    }
  }
  & > p {
    margin:0 15px 18px;
    border-bottom:1px solid $tableBorder;
    padding:10px 0;
  }
  & > ul {margin:0 15px;}
}



// PORTLET INVERSE per si de cas
.portlet-inverse h2 {
  background: $genwebPrimary;
  border:0;
  color:$grayDark;
  text-shadow: 0 1px rgba(255,255,255,.3);
  @include border-radius(5px 5px 0 0);
  & i {
    @include opacity(90);
  }
}
h2.title-inverse {
  color:$white;
  text-shadow: 0 1px rgba(0,0,0,.3);
  & i {
    background-image: image-url("gh-w.png");
  }
}

// portlets secundaris (no es fan servir pero s'estilen)
.portletCalendar {
  & .ploneCalendar {
    text-align: center; font-size: 85%; table-layout: fixed;
    & td {height: 25px;}
    & td.event { background: #ccc; }
    & td:not(:empty) {background: #f2f2f2; @include border-radius(50px); text-shadow:0 1px #fff;}
    & td.cal_has_events {
      background: #08c;
      font-weight: bold;
      text-shadow:0 -1px #06a;
      & a {color: #fff;}
      & .popover-content {
        text-align: center;
        a {color: #333333; text-shadow: none;}
      }
    }
    & td.today { font-weight: bold; color:#000; }

    /* grey out prev/next month incl. links and background */
    & td.cal_prev_month, td.cal_next_month {
      opacity:0.4;
    }
  }
}

// PORTLET Grid Events
.titling-line-container {
  position: relative;

  .titling-line {
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
    padding: 6px 0;
    margin-top: 0;

    &::after {
      content: "";
      position: absolute;
      margin-left: 12px;
      background: #d1d1d1;
      height: 1px;
      box-shadow: 1000px 0 0 -1000px #d1d1d1;
      width: 100%;
      top: 50%;
    }
  }

  .btn-mes {
    top: .4rem;
    position: absolute;
    right: 0;
    background: white;
    z-index: 1;
    padding: 6px 0 6px 6px;
    margin-top: -2px;
  }
}

ol.list-agenda {
  margin-left: 0px;
}

.list-agenda.row {
  margin-left: -1.15% !important;
  margin-right: -1.15% !important;

  [class*="span"] {
    margin-left: 1.15% !important;
    margin-right: 1.15% !important;
  }

  .span4 {
    width: 31.03%;
  }

  .span6 {
    width: 47.7%;
  }

  .card {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) !important;
    height: 275px;
    min-width: 150px;
    position: relative;
    display: block;
    transition: all .25s ease-out;
    overflow: hidden;

    &:hover {
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 5px 10px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.05) !important;
      text-decoration: none;
      background-color: #F6F7F7;
      transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
      -webkit-font-smoothing: subpixel-antialiased;
    }

    .event-time {
      opacity: 0.9;
      background-image: linear-gradient(89deg, lighten($genwebPrimary, 20%) 0%, $genwebPrimary 100%);
      width: 134px;
      height: 134px;
      border-radius: 50% !important;
      position: absolute;
      left: 18px;
      display: table-cell;
      text-align: center;
      left: calc(50% - 67px);
      top: calc(50% - 67px - 40px);

      .event-time--wrap {
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        display: block;
      }
    }

    .event-days {
      font-weight: 700;
      font-size: 1.5rem;
      color: #fff;
      display: block;
      padding-bottom: 1px;
      line-height: 1;

      &.event-days-connector {
        font-size: 1rem !important;
      }
    }

    .event-months {
      font-weight: 300;
      font-size: .875rem;
      text-transform: uppercase;
      color: #fff;
      display: block;
      padding-bottom: 1px;
    }

    .event-title {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.1;
      color: #4a4a4a;
      height: 80px;
      background: rgba(255,255,255,0.9);
      position: absolute;
      margin: 0;
      bottom: 0;
      width: 100%;
      padding: 12px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}


@media only screen and (max-width: 979px) {
  .list-agenda.row {
    margin-left: -1.15% !important;
    margin-right: -1.15% !important;

    [class*="span"] {
      margin-left: 1.15% !important;
      margin-right: 1.15% !important;
    }

    .span6,
    .span4,
    .span3 {
      width: 47.5%;
    }
  }
}

@media only screen and (max-width: 639px) {
  .list-agenda.row {
    margin-left: 0% !important;
    margin-right: 0% !important;

    [class*="span"] {
      margin-left: 0% !important;
      margin-right: 0% !important;
    }

    .span6,
    .span4,
    .span3 {
      width: 100% !important;
    }
  }
}

// Sistema
#portlet-prefs {@include box-shadow(none);}
.portlet > .pad {border-bottom: 1px solid $tableBorder;}
